body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1 {
    margin-bottom: 20px;
    color: #343a40;
}

#imageUpload {
    margin-bottom: 20px;
}

#uploadedImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#uploadedImage {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    border-radius: 20px;
    background-color: white;
    border-color: black;
    color: black;
    border-style: solid;
    border-width: 2px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #6c757d;
    text-align: center;
}
